@{
    ViewBag.Title = "PostTarget";
}

<h2>PostTarget</h2>

<h3>Form Input</h3>

@foreach (string key in Request.Params.Keys)
{
    <span>@(key):&nbsp;</span><span>@(Request.Form[key])</span><br />
}

<hr />

<h3>Input Stream</h3>

@using (StreamReader sr = new StreamReader(Request.InputStream))
{
    string d = sr.ReadToEnd();
    <span>@d</span>    
}

<h3>Server Variables</h3>
@foreach (string key in Request.ServerVariables.AllKeys)
{
    <span>@(key):&nbsp;</span><span>@(Request.ServerVariables[key])</span><br />
}


@Html.Deferred((dv)=>
{
    return Html.Tag("span").Text("done");
}, Html.Tag("span").Text("blah"))
